/* Styles de base. */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background: var(--cloud-bottom-color);
  font-family: "Inter", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}
